html,body,.main,#app,#editgrid,#editor {
  height: 100%;
}

#layout,#editor textarea {
  height: 94%;
}

main{
  margin:0;
}

.textarea:not([rows]){
  max-height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
}

#dirview {
  margin:auto;
  padding: 5%;
}

@keyframes changeopac {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  

#git-anim.is-active {
    animation-duration: 0.6s;
    animation-name: changeopac;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



